@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Display Fonts */
@font-face {
    font-family: 'display-xlight-italic';
    src: url('fonts/Display/PolymathDispDemo-XLightIt.otf') format('opentype');
}

@font-face {
    font-family: 'display-black';
    src: url('fonts/Display/PolymathDispDemo-Black.otf') format('opentype');
}

@font-face {
    font-family: 'display-black-italic';
    src: url('fonts/Display/PolymathDispDemo-BlackIt.otf') format('opentype');
}

@font-face {
    font-family: 'display-bold';
    src: url('fonts/Display/PolymathDispDemo-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'display-bold-italic';
    src: url('fonts/Display/PolymathDispDemo-BoldIt.otf') format('opentype');
}

@font-face {
    font-family: 'display-italic';
    src: url('fonts/Display/PolymathDispDemo-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'display-light';
    src: url('fonts/Display/PolymathDispDemo-Light.otf') format('opentype');
}

@font-face {
    font-family: 'display-light-italic';
    src: url('fonts/Display/PolymathDispDemo-LightIt.otf') format('opentype');
}

@font-face {
    font-family: 'display-medium';
    src: url('fonts/Display/PolymathDispDemo-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'display-medium-italic';
    src: url('fonts/Display/PolymathDispDemo-MediumIt.otf') format('opentype');
}

@font-face {
    font-family: 'display-regular';
    src: url('fonts/Display/PolymathDispDemo-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'display-semibold';
    src: url('fonts/Display/PolymathDispDemo-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'display-semibold-italic';
    src: url('fonts/Display/PolymathDispDemo-SemiboldIt.otf') format('opentype');
}

@font-face {
    font-family: 'display-super';
    src: url('fonts/Display/PolymathDispDemo-Super.otf') format('opentype');
}

@font-face {
    font-family: 'display-super-italic';
    src: url('fonts/Display/PolymathDispDemo-SuperIt.otf') format('opentype');
}

@font-face {
    font-family: 'display-thin';
    src: url('fonts/Display/PolymathDispDemo-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'display-thin-italic';
    src: url('fonts/Display/PolymathDispDemo-ThinIt.otf') format('opentype');
}

@font-face {
    font-family: 'display-xlight';
    src: url('fonts/Display/PolymathDispDemo-XLight.otf') format('opentype');
}

/* Polymath Fonts */
@font-face {
    font-family: 'medium-italic';
    src: url('fonts/Polymath/PolymathDemo-MediumIt.otf') format('opentype');
}

@font-face {
    font-family: 'regular';
    src: url('fonts/Polymath/PolymathDemo-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'semibold';
    src: url('fonts/Polymath/PolymathDemo-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'semibold-italic';
    src: url('fonts/Polymath/PolymathDemo-SemiboldIt.otf') format('opentype');
}

@font-face {
    font-family: 'super';
    src: url('fonts/Polymath/PolymathDemo-Super.otf') format('opentype');
}

@font-face {
    font-family: 'super-italic';
    src: url('fonts/Polymath/PolymathDemo-SuperIt.otf') format('opentype');
}

@font-face {
    font-family: 'thin';
    src: url('fonts/Polymath/PolymathDemo-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'thin-italic';
    src: url('fonts/Polymath/PolymathDemo-ThinIt.otf') format('opentype');
}

@font-face {
    font-family: 'xlight';
    src: url('fonts/Polymath/PolymathDemo-XLight.otf') format('opentype');
}

@font-face {
    font-family: 'xlight-italic';
    src: url('fonts/Polymath/PolymathDemo-XLightIt.otf') format('opentype');
}

@font-face {
    font-family: 'black';
    src: url('fonts/Polymath/PolymathDemo-Black.otf') format('opentype');
}

@font-face {
    font-family: 'black-italic';
    src: url('fonts/Polymath/PolymathDemo-BlackIt.otf') format('opentype');
}

@font-face {
    font-family: 'bold';
    src: url('fonts/Polymath/PolymathDemo-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'bold-italic';
    src: url('fonts/Polymath/PolymathDemo-BoldIt.otf') format('opentype');
}

@font-face {
    font-family: 'italic';
    src: url('fonts/Polymath/PolymathDemo-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'light';
    src: url('fonts/Polymath/PolymathDemo-Light.otf') format('opentype');
}

@font-face {
    font-family: 'light-italic';
    src: url('fonts/Polymath/PolymathDemo-LightIt.otf') format('opentype');
}

@font-face {
    font-family: 'medium';
    src: url('fonts/Polymath/PolymathDemo-Medium.otf') format('opentype');
}

/* Text Fonts */
@font-face {
    font-family: 'text-bold';
    src: url('fonts/Text/PolymathTextDemo-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'text-bold-italic';
    src: url('fonts/Text/PolymathTextDemo-BoldIt.otf') format('opentype');
}

@font-face {
    font-family: 'text-italic';
    src: url('fonts/Text/PolymathTextDemo-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'text-light';
    src: url('fonts/Text/PolymathTextDemo-Light.otf') format('opentype');
}

@font-face {
    font-family: 'text-light-italic';
    src: url('fonts/Text/PolymathTextDemo-LightIt.otf') format('opentype');
}

@font-face {
    font-family: 'text-medium';
    src: url('fonts/Text/PolymathTextDemo-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'text-medium-italic';
    src: url('fonts/Text/PolymathTextDemo-MediumIt.otf') format('opentype');
}

@font-face {
    font-family: 'text-regular';
    src: url('fonts/Text/PolymathTextDemo-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'text-semibold';
    src: url('fonts/Text/PolymathTextDemo-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'text-semibold-italic';
    src: url('fonts/Text/PolymathTextDemo-SemiboldIt.otf') format('opentype');
}

@font-face {
    font-family: 'text-super';
    src: url('fonts/Text/PolymathTextDemo-Super.otf') format('opentype');
}

@font-face {
    font-family: 'text-super-italic';
    src: url('fonts/Text/PolymathTextDemo-SuperIt.otf') format('opentype');
}

@font-face {
    font-family: 'text-thin';
    src: url('fonts/Text/PolymathTextDemo-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'text-thin-italic';
    src: url('fonts/Text/PolymathTextDemo-ThinIt.otf') format('opentype');
}

@font-face {
    font-family: 'text-xlight';
    src: url('fonts/Text/PolymathTextDemo-XLight.otf') format('opentype');
}

@font-face {
    font-family: 'text-xlight-italic';
    src: url('fonts/Text/PolymathTextDemo-XLightIt.otf') format('opentype');
}

@font-face {
    font-family: 'text-black';
    src: url('fonts/Text/PolymathTextDemo-Black.otf') format('opentype');
}

@font-face {
    font-family: 'text-black-italic';
    src: url('fonts/Text/PolymathTextDemo-BlackIt.otf') format('opentype');
}

body{
    background-color: black;
    color: white;
    font-family: 'display-regular';
    overflow: overlay;
}

.background{
    position: fixed;
    left: 0;
    top:0;
    pointer-events: none;
    bottom: 0;
    user-select: none;
    right: 0;
    z-index: -100;
    height: 100%;
    opacity: 0;
}


.bgimg{
    pointer-events: none;
    width: 100%;
}

.container{
    position: relative;
    padding: .75em 1.5em;
    border-radius: 30px;
    background: rgba(128, 128, 128, 0.20);
    box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.10) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 8px 15px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(50px);
}

.container.lgcontainer{
    width: 0;
    padding: 0;
    /* width: 60%; */
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lgicn{
    position: absolute;
    opacity: 0;
    left: 50%;
    max-width: 1.3em;
    transform: translateX(-50%);
    margin-top: 1.3em;
}

.terminal-input{
    border-radius: 19px;
    outline: none;
    padding: 1em 1.3em 1em 2em;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.24px;
    height: 2.2em;
    width: 40%;
    color: rgb(218, 218, 218);
    margin-block-start: 0;
    border: none;
    background: rgba(0, 0, 0, 0.01);
    box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.10) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.25) inset;
}

.terminal-input::placeholder{
    color: rgba(255, 255, 255, 0.319);
}

.lg-terminal-view{
    margin-top: 5em;
    font-family: 'Space Mono';
    font-size: .9em;
    line-height: 3em;
    opacity: 0;
    margin-left: 2em;
}

.terminal-output.to{
    margin-block-end: 0.3em;
}

.t-email{
    display: inline-block;
    vertical-align: middle;
}

.terminal-check{
    display: inline-block;
    outline: none;
    pointer-events: none;
    border: none;
    vertical-align: middle;
    width: 40px;
    margin-left: 1em;
    position: relative;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.20);
}

.t-check{
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 2.4em;
    transform: translate(-50%, -50%);
}

.container.wlcmsg{
    width: 12%;
    border-radius: 10em;
    position: absolute;
    text-align: center;
    opacity: 0;
    height: 2em;
    left: 50%;
    bottom: 2em;
    margin-top: 2em;
    transform: translateX(-50%);
    border-radius: 100px;
    background: rgba(60, 60, 60, 0.1);
    box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.10) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 8px 15px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(50px);
}

.wcmsg{
    font-size: .9em;
    font-family: "text-regular";
    letter-spacing: 0.06em;
    margin-block-start: 0.5em;
    margin-block-end: 0;
}

.warp-vid{
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    bottom: 0;
    right: 0;
    z-index: -100;
    overflow-y: hidden;
    width: 100%;
    display: none;
}


.login-container{
    overflow-y: hidden;
} 

.logoo{
    opacity: 0;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(5, 5, 5);
    border-radius: 10em;
}

.main{
    display: grid;
    grid-template-columns:7% auto;
    column-gap: 1em;
    row-gap: 1em;
    position: relative;
    padding: 2em 1.5em;
    width: 92.5%;
    position: absolute;
    margin-top: 0em;
    height: 100%;
    grid-template-rows: 80% auto;
}

.nav{
    position: relative;
    grid-template-rows: 45% 40% auto;
    height: 100%;
}

.nav-1, .nav-2, .nav-3{
    width: 1.5em;
    display: flex;
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
    height: auto;
}

.nav-1{
    height: 13%;
}

.nav2-item{
    cursor: pointer;
}

.nav-2{
    height: auto;
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 1.15em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}


.nav-img{
    max-width: 2.1em;
}

.nav-3{
    height: 16%;
    display: grid;
    position: relative;
    grid-template-rows: auto auto auto;
}

.temp{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.updowtemp{
    margin-left: 0.1em;
}

#md-1{
    width: 95%;
}

#md-2{
    width: 99%;
    position: relative;
    height: 177%;
}

#md-3{
    width: 101.5%;
    display: grid;
    column-gap: 1.5em;
    grid-template-columns: 50% auto;
}

#md-4{
    width: 95.5%;
    display: grid;
    height: 182%;
    row-gap: 1.5em;
    grid-template-rows: 65% auto;
}

.mainlanding{
    display: grid;
    grid-template-columns: 47% auto;
    grid-template-rows: 54% auto;
    width: 100%;
    column-gap: 2em;
    row-gap: 1em;
    height: 96%;
    transition: grid-template-columns 0.6s ease, grid-template-rows 0.6s ease;

}
#md-4, #md-5{
    display: none;
}

#md-5{
    width: 105%;
    margin-left: -7%;
    height: 178%;
}

.music.container{
    width: 96.5%;
    height: 3.5em;
    border-radius: 3em;
    position: absolute;
    position: absolute;
    bottom: 6em;
    border-radius: 55px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.10), 0px 1px 1px 0px rgba(255, 255, 255, 0.25), 0px 8px 15px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(50px);
    left: 1.5em;
}

.music-img{
    max-width: 3em;
    max-height: 3em;
    margin-left: 1.5em;
}

.music-nowplaying{
    top: 50%;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: auto 60% auto;
    transform: translateY(-50%);
   
}
.music-1{
    display: grid;
    grid-template-columns: 20% auto;
}

.npt{
    text-overflow: ellipsis;
    margin-block-start: 0;
    margin-block-end: 0;
    letter-spacing: 0.015em;

}

*{
    overflow-anchor: none !important;
}

.nowplaying-title{
    color: #FFF;
    font-family: "bold", 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 1em;
    letter-spacing: .6px;
    margin-top: .35em;

}

.nowplaying-artists{
    font-family: 'text-light', 'Noto Sans', sans-serif;
    font-size: .75em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.678);
    margin-block-start: -.1em;
    mix-blend-mode: soft-light;
}

.music-controls{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
}

.music-2{
    display: grid;
    grid-template-rows: auto auto;
    column-gap: 1em;
    position: absolute;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
}

.music-prev, .music-next{
    max-width: 2em;
}

.music-play{
    max-width: 2em;
}

.music-seek-bar{
    width: 50%;
    margin: 0 auto;
    height: .35em;
    border-radius: 20px;
    background: rgba(50, 50, 50, 0.097);
    position: relative;
    margin-top: .75em;
    mix-blend-mode: soft-light;
    backdrop-filter: blur(20px);
}

.music-seek-fill{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: #FFF;
    border-radius: 20px;
}

.music-3{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1.5em;
    width: 10em;
    margin-top: .8em;
    justify-content: flex-end;
    margin-left: -2em;
    position: absolute;
    right: 5em;
}

.music-options{
    max-width: 1.7em;
    display: inline-block;
    vertical-align: middle;
}


.add{
    width: 2.5em;
    height: 2.5em;
    border-radius: 72px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.75em;
    right: 2em;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
}

.maindiv-title{
    font-size: 2em;
    font-family: 'display-bold', 'Noto Sans', sans-serif;
    margin-block-end: 0;
    letter-spacing: .05em;
}

.maindiv-desc{
    margin-block-start: 0;
    font-size: .65em;
    font-family: 'display-light';
    letter-spacing: 0.08em;
}

.maindiv-head{
    position: absolute;
    bottom: 1em;
    
    left: 2.5em;
}

.rescue-blip{
    width: 2em;
    height: 2em;
    border-radius: 72px;
    display: flex;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.10);
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.rescue-progress{
    margin-top: -.5em;
}

.compl, .incm{
    width: .5em;
    height: .5em;
    border-radius: 72px;
    filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.04);
}

.incm{
    background: #F16363;

}

.compl{
    background: #63F19C;
}

.rescue-steps{
    display: grid;
    width: 100%;
    margin-left: .5em;
    grid-template-columns: 7% 50% auto;
    column-gap: 1em;
    margin-top: 1em;
}

.rescue-txt{
    font-size: .8em;
    letter-spacing: 0.05em;
    font-family: 'text-light', 'Noto Sans', sans-serif;    
    margin-bottom: 2.5em;
    font-weight: 8800;
    margin-top: 2em;
}

.rescue-txt.comp{
    color: #B7FABE;
}

.rescue-txt.inc{
    color: #FFAEAE
}

.progs{
    text-align: center;
}

.prog-text{
    font-size: 4em;
    font-family: 'display-bold', 'Noto Sans', sans-serif;
    font-weight: 700;
    margin-block-end: 0;
}

.prog {
    border-radius: 7px; 
    height: .35em;
    position: absolute;
    right: 2.5em;
    bottom: 2.75em;
  }
.prog::-webkit-progress-bar {
    border-radius: 4px;
    background: #ffffff48;
    backdrop-filter: blur(67.95704650878906px);
    border-radius: 7px;
}
.prog::-webkit-progress-value {
    border-radius: 20px;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    border-radius: 7px;
}
  
.active-blob{
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.30);
    z-index: -1;
    transform: translateX(-50%);
    left: 50%;
    top: 1.3em;
}

.record-controls{
    position: relative;
    position: absolute;
    bottom: 0;
    height: 4.5em;
    left: 0;
    right: 0;
    border-radius: 0px 0px 30px 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.285);
    background: rgba(186, 186, 186, 0.2);
    backdrop-filter: blur(5px);
}

.main-grid.container{
    position: relative;
    overflow-x: hidden;
}

.controls-grid{
    grid-template-columns: auto auto;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    column-gap: 1.5em;
}


.rvideo{
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    bottom: 0;
    right: 0;
    transform: scaleX(-1);
    overflow-y: hidden;
    border-radius: 30px;
    height: 100%;
    z-index: -4;
}

.control-btn{
    display: inline-block;vertical-align: middle;
    border-radius: 24px;
    background:  rgba(255, 255, 255, 0.20);
    height: 2.3em;
    width: 6em;
    display: flex;cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(67.95500183105469px);
}

.control-txt{
    margin-block: 0;
    font-size: .8em;
    font-family: 'display-regular', 'Noto Sans', sans-serif;
    letter-spacing: 0.05em;
    font-weight: 100;
}

.record{
    display: grid;
    grid-template-columns: auto auto;
    background: #34C759;
}

.record-icon{
    max-width: 1em;
    margin-right: .5em;
}

.duration{
    position: absolute;
    right: 1em;
    border-radius: 30px;
    background: rgba(128, 128, 128, 0.20);
    box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.10) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 8px 15px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(50px);
    font-size: .6em;
    padding: 0em 2em;
}

.novidpl{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.recording.container{
    border-radius: 1.5em;
    display: grid;
    padding-top: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(255, 255, 255, 0.008);
    grid-template-columns: 90% auto;
    margin-bottom: 1em;
}

.recording-name{
    font-size: .8em;
    max-width: 13em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-block: 0
}

.recording-date{
    font-size: .6em;
    color: rgba(255, 255, 255, 0.678);
    margin-block: 0
}

.recordings{
    overflow: auto;
    max-height: 11.4em;
    
}

.recordings::-webkit-scrollbar{
    display: none;
}


/* .recordings:before {
    content:'';
    width:100%;
    height:80%;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 150px, rgba(128, 128, 128, 0.20))
  } */
.r-del{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: .4em;
}



::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.20);
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 255, 255, 0.30);
}

::-webkit-scrollbar-thumb:active{
    background: rgba(255, 255, 255, 0.40);
}
.schedule {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    margin-top: 20px;
}
.times {
    position: relative;

}
.time {
    text-align: right;
    font-size: 12px;
    height: 57px;
    font-family: 'display-regular', "Noto Sans", sans-serif;
    font-weight: 100;
    text-align: left;
    margin-left: 1em;
    letter-spacing: 0.06em;
    mix-blend-mode: overlay;
    margin-block-start: 0;
    color: #ffffff3f;
    position: relative;
}
.time::after {
    content: '';
    position: absolute;
    right: -15px;
    top: 0;
    width: 10px;
    height: 1px;
}
.events {
    position: relative;
    max-height: 90%;
    width: 100%;
    color: black;
    
}
.events::before {
    content: '';
    position: absolute;
    top: .35em;
    left: 1em;
    right: 1em;
    bottom: -2em;
    background: repeating-linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 0px,
        rgba(255, 255, 255, 0.1) 1px,
        transparent 1px,
        transparent 57px
    );
    pointer-events: none;
    z-index: -1
}




.linee{
    position: absolute;
    left: 6.4%;
    z-index: -4;
    top: 4.35em;
    height: 1em;
    width:1em;
}
.event{
    width: 15em;
    height: 4em;
    position: relative;
    background: whitesmoke;
    box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.10) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 8px 15px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(100px);
    margin-left: 1.1em;
    margin-bottom: .5em;
    margin-top: .5em;
    border-radius: 1em;
    display: inline-block;vertical-align: middle;
    padding: 1.5em;
}

.timee{
    position: absolute;
    font-size: .8em;
    font-family: 'display-bold', 'Noto Sans', sans-serif;
    font-weight: 700;
    margin-block-start: 0;
    right: 1.5em;
    bottom: 1.5em;
}

.event-title{
    position: absolute;
    top: 50%;
    margin-block-start: 0;
    font-size: 1.5em;
    letter-spacing: 0.03em;
    margin-block-end: 0;
    transform: translateY(-50%);
    color: rgb(35, 35, 35);
    font-family: 'display-bold', 'Noto Sans', sans-serif;
}

.m-title{

    font-size: 1.3em;
    margin-left: .5em;
    font-family: 'display-bold', 'Noto Sans', sans-serif;
    margin-block-end: 0;
    font-weight: 100;
    margin-bottom: 1em;
    letter-spacing: 0.05em;
}

.message.container{
    width: 90%;
    margin-top: 1em;
    border-radius: 26px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    display: block;
}

.messages-view{
    overflow-y: auto;
    border-radius: 1em;
    justify-content: center;
    height: 24.5em;
}

.message-time{
    position: absolute;
    right: 2.5em;
    top: 1em;
    font-family: 'display-medium', 'Noto Sans', sans-serif;
    font-size: .7em;
    color: rgba(176, 176, 176, 0.678);
}

.message-fromto{
    font-family: 'display-light', 'Noto Sans', sans-serif;
    font-size: .9em;
    margin-block-end: 0;
    letter-spacing: 0.05em;
}

.m-sender{
    margin-block-start: 0;
    font-family: 'display-medium', 'Noto Sans', sans-serif;
    letter-spacing: 0.05em;
    font-size: .8em;
    color: #C9C9C9;


}

.message-text{
    width: 90%;
    text-align: left;
    font-size: .69em;
    font-family: "display-regular";
    font-style: normal;
    font-weight: 100;
    color: #bbb;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 132.773%; /* 17.26px */
    letter-spacing: 0.06em;
}

.switcher{
    position: absolute;
    left: 50%;
    bottom: 1em;
    display: grid;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.10) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.25) inset, 0px 8px 15px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(50px);
    transform: translateX(-50%);
    padding: .5em 0;
}

.switcher.messages{
    display: grid;
    padding-left: 1em;
    padding-right: 1em;
    grid-template-columns: 50% auto;
    text-align: center;
}

.messages, .aicall{
    display: none;
}

.switcher-item.active{
    background: rgba(255, 255, 255, 0.168);


    border-radius: 100px;
}
.switcher-item{
    margin-block: 0;cursor: pointer;
    font-family: 'display-medium', 'Noto Sans', sans-serif;
    font-size: .7em;
    padding: 1.25em 2em;
    letter-spacing: .05em;
}

.ai-controls{
    position: relative;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 13em;
    border-radius: 0px 0px 30px 30px;
    border-top: .3px solid rgba(255, 255, 255, 0.153);
    background: rgba(71, 71, 71, 0.2);
    box-shadow: 4px 4px 100px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(15px);
}

.ac-t{
    margin-top: 2.5em;
    font-size: .9em;
    font-family: 'display-semibold', 'Noto Sans', sans-serif;
    letter-spacing: 0.07em;
    margin-left: 3em;
}

.c-av{
    max-width: 3em;
}

.caller-option{
    display: grid;
    grid-template-rows: auto auto;
    column-gap: 1.5em;
    margin-top: 1em;
    width: 6em;
    justify-content: center;
    border-radius: 24px;
    border: solid #d8d8d84f .1px;
    background: rgba(0, 0, 0, 0.20);
    box-shadow: 4px 4px 100px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(5px);
    padding-top: 1.5em;
    cursor: pointer;
}

.caller-options{
    position: relative;
    display: grid;
    column-gap: 0em;
    margin-left: 2.25em;
    grid-template-columns: auto auto auto auto auto;
    margin-top: -1em;
}
.cname{
    letter-spacing: 0.059em;
    text-align: center;
    font-size: .9em;
    margin-block-start: 0.75em;
    margin-block-end: 1.5em;
    font-weight: 100;
    font-family: 'display-light';
}

.call-details{
    margin-left: 3em;
    margin-top: -1em;
}


.call-caller{
    display: grid;
    grid-template-rows: auto auto auto;
    column-gap: 1em;
    margin-top: 1em;
    position: relative;
    width: 6em;
    justify-content: center;
    border-radius: 24px;
    border: solid #d8d8d84f .1px;
    background: rgba(0, 0, 0, 0.20);
    box-shadow: 4px 4px 100px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(5px);
    padding-top: 1em;
    cursor: pointer;
}

.call{
    display: none;
}

.callcont{
    display: grid;
    grid-template-columns: 60% auto;
    justify-content: center;
    column-gap: 2em;
    align-items: center;
    margin-top: 2em;
}

.call-captions{
    width: 100%;
    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0.10) 1.4%, rgba(255, 255, 255, 0.50) 50.4%, #FFF 97.9%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 1.1em;
    font-family: 'display-bold', 'Noto Sans', sans-serif;
    line-height: 2em;
    letter-spacing: 0.04em;
    -webkit-text-fill-color: transparent;
    max-height: 8em;
    width: 100%;
    overflow: auto;
}

.mme{
    position: absolute;
    transform: translateX(-50%);
    max-width: 1.5em;
    bottom: 0.75em;
    left: 50%;
}

.callbtn{
    border-radius: 100px;
    background: rgba(255, 0, 0, 0.30);
    padding: .75em 1em;
    margin-top: .5em;
    width: 5.5em;
    text-align: center;
    letter-spacing: 0.05em;
    font-family: 'display-medium', 'Noto Sans', sans-serif;
    font-size: .8em;
}

.avideo{
    width: 8em;
    height: 12.5em;
    display: none;
    position: absolute;
    filter: drop-shadow(2px 7px 7px rgba(0, 0, 0, 0.155));
    right: 1.5em;
    top: 1.5em;
    border-radius: 1.5em;
}

.slope{
    display: none;
}
.slopegame{
    position: absolute;
    left: 0;
    border-radius: 30px;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    top: 0;
}

.md4-div{
    height: 30%;
}

.md4-div2{
    height: 60%;
    margin-top: 1.2em;
}