<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orb</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="overflow-y: hidden;">
    <div class="background dash">
        <img src="/static/images/bgnav.svg" class="bgimg dash" alt="">
    </div>
    <div class="dashboard main" style="display: block;"> 
           
            
        <div class="nav-1 container nav" style="position: absolute; z-index: 2; width: 4em; height: 2em; left: 50%;
        transform: translateX(-50%); margin-top: -1.3em;">
            <p class="time-now">12:30</p>
        </div>

        <div class="mainlanding" style="height: 83%; margin-top: 3em; padding: 0 1em; grid-template-columns: auto 43%;" id="ml-1">
            <div class="main-div container" id="md-1">
                
                <div class="rescue-progress">
                    <div class="rescue-steps">
                        <div class="rescue-blips">
                            <img src="/static/icons/line.svg" class="linee" alt="">
                            <div class="rescue-blip comp">
                                <div class="compl"></div>
                            </div>
                            <img src="/static/icons/line.svg" class="linee" style="top: 7.45em;" alt="">

                            <div class="rescue-blip comp">
                                <div class="compl"></div>
                            </div>
                            <img src="/static/icons/line.svg" class="linee" style="top: 10.55em;" alt="">

                            <div class="rescue-blip inc">
                                <div class="incm"></div>
                            </div>

                            <div class="rescue-blip inc">
                                <div class="incm"></div>
                            </div>
                        </div>
                        <div class="rescue-txts">
                            <p class="rescue-txt comp">Confirmation of survival</p>
                            <p class="rescue-txt comp">Departure of rescue mission</p>
                            <p class="rescue-txt inc" style="margin-top: 2.75em;">Interception with survivors</p>
                            <p class="rescue-txt inc" style="margin-bottom: 0; margin-top: 2.75em;">Reentry into Earth</p>
                        </div>
                    </div>
                    <div style="grid-template-columns: auto auto; display: grid;">
                        <div class="maindiv-head">
                            <p class="maindiv-title rtn" style="font-size: 1.5em; margin-block: .5em;">Rescue Progress</p>
                        </div>
                        <div>
                            <progress value="50" max="100" class="prog"></progress>

                        </div>
                    </div>
                </div>
            </div>
            <div class="main-div container" id="md-2" style="width: 90%;">
                <div class="messages" style="display: block;">
                    <div class="modal">
                        <form action="" class="message-send container">
                            <input type="text" class="message-input" placeholder="Type your message">
                            <button class="message-sendbtn" type="submit"><img src="/static/icons/send.svg" class="sbimg" alt=""></button>
                        </form>
                    </div>
                    <div>
                        <p class="m-title">Messages</p>
                        <div class="add madd">
                            <img src="/static/icons/add.svg" alt="">
                        </div>
                    </div>
                    <div class="messages-view inbox">
                        {% for s in sent %}
                        <div class="message container">
                            <p class="message-time">{{s['time'].strftime('%d %b')}} {{s['time'].strftime('%H:%M')}}</p>
                            <p class="message-fromto">{{s['from']}} to {{s['to']}}</p>
                            <p class="m-sender">inbox</p>
                            
                            <p class="message-text">{{s['content']}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="messages-view outbox">
                        {% for r in re %}
                        <div class="message container">
                            <p class="message-time">{{r['time'].strftime('%H:%M')}}</p>
                            <p class="message-fromto">{{r['from']}} to {{r['to']}}</p>
                            <p class="m-sender">
                                {% if (datetime.datetime.now() - r['time']).total_seconds() >= 3 * 60 * 60 %}
                                    Outbox
                                {% else %}
                                    ETA: {{(3*60) -((datetime.datetime.now() - r['time']).total_seconds() // 60)}} minutes
                                {% endif %}
                            </p>
                            <p class="message-text">{{r['content']}}</p>
                        </div>
                        {% endfor %}
                        
                    </div>
                    
                    <div class="messages switcher">
                        <p class="switcher-item active" id="to-inbox">Inbox</p>
                        <p class="switcher-item" id="to-outbox">Outbox</p>
                    </div>
                </div>
            </div>
            <div class="main-div" id="md-3">
                <div class="main-div main-grid container">
                    <div class="recordings">
                        {% for recording in recordings %}
                        <div class="recording container" >
                            <div style="display: inline-block;
                            vertical-align: middle;">
                                <p class="recording-name"> recording at 3:39PM 12/2/3</p>
                                <p class="recording-date">12/2/3</p>
                            </div>
                        </div>
                       
                        {% endfor %}
                    </div>
                    <div class="maindiv-head">
                        <p class="maindiv-title rtn" style="font-size: .9em; margin-left: -1em; margin-bottom: .25em; font-family: 'display-medium', 'Noto Sans', sans-serif;">Arni's recordings</p>
                    </div>
                </div>
                <div class="main-div main-grid container" >
                    <div class="requests" style="max-height: 13em; overflow-y: auto; margin-top: .75em;"> 
                        <div class="container" style="margin-bottom: 1em;">
                            <div style="display: inline-block;
                            vertical-align: middle;">
                                <p style="font-family: 'display-regular'; margin-block-end: 0; letter-spacing: 0.04em;">Uptown funk</p>
                                <p style="font-family: 'text-light'; letter-spacing: 0.03em; margin-block-start: 0; font-size: .7em; color: rgba(255, 255, 255, 0.605);">Bruno mars</p>
                            </div>
                            <img style="display: inline-block;
                            vertical-align: middle;margin-left: 9em; cursor: pointer;" class="upload" src="/static/icons/upload.svg">
                        </div>
                        
                        <p style="font-size: .8em; position: absolute;
                    bottom: 1em; left: 50%; transform: translateX(-50%); margin-block: 0; font-family: 'light';">music requests</p></div>
                    <!-- <div class="maindiv-head">
                        <p class="maindiv-title rtn" style="font-size: .9em; margin-left: -1em; margin-bottom: .25em; font-family: 'display-medium', 'Noto Sans', sans-serif;">Send music</p>
                    </div> -->
                </div>
            </div>
            <div class="main-div" id="md-4">
                <div class="main-div md4-div main-grid container">
                    <div class="airlock container">
                        <div class="ab"></div>
                        <p class="abt">Shields</p>
                    </div>
                </div>
                <div class="main-div md4-div2 main-grid container">
                    <div class="maindiv-head">
                        <div style="margin-left: 1em;">
                            <div class="fod" style="margin-top: -2em; padding:1.6em 1.7em; margin-left: -1em; margin-bottom: 1em;">
                                <p style="display: inline-block;vertical-align: middle;font-size: .9em; margin-block: 0; font-family: 'regular';">Days until end of food</p>
                                <p style="display: inline-block;vertical-align: middle; margin-left: 3em; font-size: 1.4em;margin-block: 0; font-family: 'display-bold';">120</p>
                            </div>
                            <div class="fodd">
                                <div class="container foddd">
                                    <p class="fs">13,345</p>
                                    <p class="fstat">Calories today</p>
                                </div>
                                <div class="container foddd">
                                    <p class="fs">13,345</p>
                                    <p class="fstat">Calories today</p>
                                </div>
                            </div>
                        </div>
                        <p class="maindiv-title rtn" style="font-size: 1.5em; margin-bottom: .35em;">Food</p>
                    </div>
                </div>
            </div>
            <div class="main-div container" id="md-5">
                <div class="workout switcher">
                    <p class="switcher-item active">Workout</p>
                    <p class="switcher-item">Health</p>
                </div>
                    <div style="display: grid;
                    grid-template-columns: auto auto;
                    margin-top: 6.5em;
                    margin-left: .95em;
                    column-gap: 1em;
                    ">

                        <div class="fod f" style="display: grid; grid-template-rows: auto auto;text-align: center; width: 10em;">
                            <p class="udd">98%</p>
                            <p class="ud">Health Score</p>
                        </div>
                        
                        
                        <div class="fod f" style="display: grid; grid-template-rows: auto auto;text-align: center; width: 10em;">
                            <p class="udd">12,324</p>
                            <p class="ud">Steps today</p>
                        </div>
                    </div>
                    <div class="selec">
                        <p style="font-size: .8em; font-family: 'regular'; letter-spacing: 0.04em;
                        margin-top: 1.4em;
                        margin-left: .7em;">Select workout type</p>
                        <div class="workout-selector">
                            <div class="workout-type">
                                <img src="/static/icons/run.svg" class="workout-icon" alt="">
                            </div>
                            <div class="workout-type">
                                <img src="/static/icons/cycle.svg" class="workout-icon" alt="">
                            </div>
                            <div class="workout-type">
                                <img src="/static/icons/weight.svg" class="workout-icon" alt="">
                            </div>
                        </div>
                    </div>
                    <div style="margin-left: 1.5em; margin-top: 1.6em;">
                        <p style="font-family: 'display-regular';
                        letter-spacing: 0.03em;">Intensity</p>
                        <div class="intensity-selector">
                            <img src="/static/icons/i1.svg" class="is-img" alt="">
                            <div class="is">
                                <div class="is-i"></div>
                                <div class="is-i"></div>
                                <div class="is-i active"></div>
                                <div class="is-i"></div>
                            </div>
                            <img src="/static/icons/i2.svg" class="is-img" alt="">
                        </div>
                        <div class="startworkout container">
                            <p class="startworkout-txt">Start workout</p>
                        </div>
                    </div>

            </div>
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Flip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Observer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Draggable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/MotionPathPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/EaselPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/PixiPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/TextPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/EasePack.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/CustomEase.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>   
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

    
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
        gsap.registerPlugin(Flip,ScrollTrigger,Observer,ScrollToPlugin,Draggable,MotionPathPlugin,EaselPlugin,PixiPlugin,TextPlugin,RoughEase,ExpoScaleEase,SlowMo,CustomEase)
        })
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js" integrity="sha256-u0L8aA6Ev3bY2HI4y0CAyr9H8FRWgX4hZ9+K7C2nzdc=" crossorigin="anonymous"></script>
    <script src="/static/main.js"></script>
</body>
</html>