<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orb</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="overflow-y: hidden;">
    <div class="background dash">
        <img src="/static/images/bgnav.svg" class="bgimg dash" alt="">
    </div>
    <div class="dashboard main"> 
        <div class="nav">
            <div class="nav-1 container nav">
                <p class="time-now">12:30</p>
            </div>
            <div class="nav-2 container">
                <div class="nav2-item" id="to-home">
                    <img src="/static/icons/home.svg" class="nav-img" alt="">
                </div>
                <div class="nav2-item" id="to-messages">
                    <img src="/static/icons/message.svg" class="nav-img" alt="">
                </div>
                <div class="nav2-item" id="to-resources">
                    <img src="/static/icons/resources.svg" class="nav-img" alt="">
                </div>
                <div class="nav2-item" id="to-music">
                    <img src="/static/icons/music.svg" class="nav-img" alt="">
                </div>
                <div class="nav2-item" id="to-slope">
                    <img src="/static/icons/slope.svg" class="nav-img" alt="">
                </div>
                <div class="active-blob"></div>
            </div>
            <div class="nav-3 container nav">
                <div class="temp">
                    <img src="/static/icons/up.svg" class="updowtemp" id="temp-up" alt="">
                    <p class="temp-txt">19</p>
                    <img src="/static/icons/dow.svg" class="updowtemp" id="temp-down" alt="">
                </div>
            </div>
        </div>
        <div class="mainlanding" id="ml-1">
            <div class="main-div container" id="md-1">
                <div class="spaceship">
                    <div>
                        <div class="maindiv-head">
                            <p class="maindiv-title rtn" style="font-size: 1.5em; margin-bottom: .35em;">Spaceship</p>
                        </div>
                        <div class="spaceship-main">
                            <div class="fuel-ef container">
                                <div class="fuel-chart">
                                    <canvas id="fuelchart"></canvas>
                                </div>
                                <p class="m-title" style="font-size: 1em;">Fuel efficiency</p>
                            </div>    
                            <div class="sp-align container">
                                
                                <p style="font-family: 'regular', 'noto sans', sans-serif; font-size: .8em; font-weight: 100; display: inline-block; vertical-align: middle;">Controls</p>
                                <img style="display: inline-block;vertical-align: middle; margin-left: .5em; max-width: 10px;" src="/static/icons/dow.svg" alt="">
                                <img src="/static/icons/reset.svg" alt="">
                                

                                    <div style="display: grid;
                                    grid-template-columns: 7em 7em; grid-template-rows: auto auto; gap: .5em;display: flexbox;
                                    justify-content: center;
                                    align-items: center;
                                    margin-left: 1.5em;
                                    margin-bottom: 1em;
                                    ">
                                        <div class="align-axis x">
                                            <p class="align-title">Boost (X)</p>
                                            <form action="">
                                                <input type="number" inputmode="numeric" class="align-input" value="34">
                                        </div>
                                        <div class="align-axis y">
                                            <p class="align-title">Boost (Z)</p>
                                                <input type="number" inputmode="numeric" class="align-input" value="34">
                                        </div>
                                        
                                        <div class="align-axis z">
                                            <p class="align-title">Airlock</p>
                                                <input type="text" inputmode="numeric" class="align-input" value="On" readonly>
                                        </div>
                                        <div class="align-axis r">
                                            <p class="align-title">Rotate (º)</p>
                                                <input type="number" max="180" min="0" inputmode="numeric" class="align-input" value="34">
                                            </form>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slope">
                    <iframe class="slopegame" src="https://slopeonline.online/game/Slope-game-og-v1-1/" frameborder="0" border="0" type=""></iframe>
                </div>
                <div class="messages">
                    <div class="modal">
                        <form action="" class="message-send container">
                            <input type="text" class="message-input" placeholder="Type your message">
                            <button class="message-sendbtn" type="submit"><img src="/static/icons/send.svg" class="sbimg" alt=""></button>
                        </form>
                    </div>
                    <div>
                        <p class="m-title">Messages</p>
                        <div class="add madd">
                            <img src="/static/icons/add.svg" alt="">
                        </div>
                    </div>
                    <div class="messages-view inbox">
                        {% for r in recieved %}
                        <div class="message container">
                            <p class="message-time">{{r['time'].strftime('%H:%M')}}</p>
                            <p class="message-fromto">{{r['from']}} to {{r['to']}}</p>
                            <p class="m-sender">inbox</p>
                            <p class="message-text">{{r['content']}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="messages-view outbox">
                        {% for s in sent %}
                        <div class="message container">
                            <p class="message-time">{{s['time'].strftime('%d %b')}} {{s['time'].strftime('%H:%M')}}</p>
                            <p class="message-fromto">{{s['from']}} to {{s['to']}}</p>
                            <p class="m-sender">
                                {% if (datetime.datetime.now() - s['time']).total_seconds() >= 3 * 60 * 60 %}
                                    Outbox
                                {% else %}
                                    ETA: {{(3*60) -((datetime.datetime.now() - s['time']).total_seconds() // 60)}} minutes
                                {% endif %}
                            </p>
                            <p class="message-text">{{s['content']}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <div class="messages switcher">
                        <p class="switcher-item active" id="to-inbox">Inbox</p>
                        <p class="switcher-item" id="to-outbox">Outbox</p>
                    </div>
                </div>
                <div class="rescue-progress">
                    <div class="rescue-steps">
                        <div class="rescue-blips">
                            <img src="/static/icons/line.svg" class="linee" alt="">
                            <div class="rescue-blip comp">
                                <div class="compl"></div>
                            </div>
                            <img src="/static/icons/line.svg" class="linee" style="top: 7.45em;" alt="">

                            <div class="rescue-blip comp">
                                <div class="compl"></div>
                            </div>
                            <img src="/static/icons/line.svg" class="linee" style="top: 10.55em;" alt="">

                            <div class="rescue-blip inc">
                                <div class="incm"></div>
                            </div>

                            <div class="rescue-blip inc">
                                <div class="incm"></div>
                            </div>
                        </div>
                        <div class="rescue-txts">
                            <p class="rescue-txt comp">Confirmation of survival</p>
                            <p class="rescue-txt comp">Departure of rescue mission</p>
                            <p class="rescue-txt inc" style="margin-top: 2.75em;">Interception with survivors</p>
                            <p class="rescue-txt inc" style="margin-bottom: 0; margin-top: 2.75em;">Reentry into Earth</p>
                        </div>
                    </div>
                    <div style="grid-template-columns: auto auto; display: grid;">
                        <div class="maindiv-head">
                            <p class="maindiv-title rtn" style="font-size: 1.5em;">Rescue Progress</p>
                            <p class="maindiv-desc">Next update in 5:30hrs</p>
                        </div>
                        <div>
                            <progress value="50" max="100" class="prog"></progress>

                        </div>
                    </div>
                </div>
            </div>
            <div class="main-div container" id="md-2">
                <div class="aicall">
                    <p class="m-title">AI Call</p>
                    <video src="" autoplay class="avideo" id="avideo"></video>
                    <div class="ai-controls">
                        <p class="ac-t">Choose someone to talk to</p>
                        <div class="caller-options">
                            <div class="caller-option" id="caller-1">
                                <img src="/static/images/avatar.png" alt="" class="c-av">
                                <p class="cname">Sarah</p>
                            </div>
                            <div class="caller-option" id="caller-2">
                                <img src="/static/images/avatar.png" alt="" class="c-av">
                                <p class="cname">Sarah</p>
                            </div>
                            <div class="caller-option" id="caller-3">
                                <img src="/static/images/avatar.png" alt="" class="c-av">
                                <p class="cname">Sarah</p>
                            </div>
                            <div class="caller-option" id="caller-4">
                                <img src="/static/images/avatar.png" alt="" class="c-av">
                                <p class="cname">Sarah</p>
                            </div>
                            <div class="caller-option" id="caller-5">
                                <img src="/static/images/avatar.png" alt="" class="c-av">
                                <p class="cname">Sarah</p>
                            </div>
                        </div>
                        <div class="call">
                            <div class="callcont">
                                <div class="call-captions-wrapper">
                                    <div class="call-captions">
                                        It's been a long day without you, my friend<br>
                                        And I'll tell you all about it when I see you again<br>
                                        We've come a long way from where we began<br>
                                        Oh, I'll tell you all about it when I see you again<br>
                                        When I see you again<br>
                                        When I see you again
                                    </div>
                                </div>
                                <div class="call-details">
                                    <div class="call-caller">
                                        <img src="/static/images/avatar.png" alt="" class="c-av">
                                        <p class="cname" style="margin-bottom: 3em;">Sarah</p>
                                        <svg class="mme" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                                            <path d="M11.5 5.27083V17.7292" stroke="#00FF66" stroke-width="1.5" stroke-linecap="round"/>
                                            <path d="M15.8125 1.91667V21.0833" stroke="#00FF66" stroke-width="1.5" stroke-linecap="round"/>
                                            <path d="M2.875 5.27083V17.7292" stroke="#00FF66" stroke-width="1.5" stroke-linecap="round"/>
                                            <path d="M20.125 7.1875V15.8125" stroke="#00FF66" stroke-width="1.5" stroke-linecap="round"/>
                                            <path d="M7.1875 8.625V14.375" stroke="#00FF66" stroke-width="1.5" stroke-linecap="round"/>
                                        </svg>
                                    </div>
                                    <div class="call-startbtn callbtn" id="endbtn">End</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dash-routine">
                    <div class="schedule">
                        <div class="times">
                            <div class="time">16:00</div>
                            <div class="time">17:00</div>
                            <div class="time">18:00</div>
                            <div class="time">19:00</div>
                            <div class="time">20:00</div>
                            <div class="time">21:00</div>
                            <div class="time">22:00</div>
                            <div class="time">23:00</div>
                        </div>
                        <div class="events">
                            <div class="event">
                                <p class="event-title">Exercise</p>
                                <div class="timee">17:30-19:30</div>
                            </div>
                            <div class="event">
                                <p class="event-title">Exercise</p>
                                <div class="timee">17:30-19:30</div>
                            </div>
                            <div class="event">
                                <p class="event-title">Exercise</p>
                                <div class="timee">17:30-19:30</div>
                            </div>
                        </div>

                    </div>
                    <div class="maindiv-titleh">
                        <div class="maindiv-head">
                            <p class="maindiv-title rtn">Routine</p>
                            <p class="maindiv-desc">Schedule for today</p>
                        </div>
                        <div class="add">
                            <img src="/static/icons/add.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-div" id="md-3">
                <div class="main-div main-grid container">
                    <div class="recordings">
                        {% for recording in recordings %}
                        <div class="recording container" >
                            <div style="display: inline-block;
                            vertical-align: middle;">
                                <p class="recording-name">My recording at 3:39PM 12/2/3</p>
                                <p class="recording-date">12/2/3</p>
                            </div>
                            <img src="/static/icons/bin.svg" class="r-del" alt="">
                        </div>
                       
                        {% endfor %}
                    </div>
                    <div class="maindiv-head">
                        <p class="maindiv-title rtn" style="font-size: .9em; margin-left: -1em; margin-bottom: .25em; font-family: 'display-medium', 'Noto Sans', sans-serif;">My recordings</p>
                    </div>
                </div>
                <div class="main-div main-grid container">
                    <div class="camera-selector selector"></div>
                    <div class="mic-selector selector"></div>
                    <div class="duration"><p class="dur">0:00</p></div>
                    <video class="rvideo" autoplay id="rvideo"></video>
                    <div class="novidpl"><img src="/static/icons/novidpl.svg" class="novpl" alt=""></div>
                    <div class="record-controls">
                        <div class="controls-grid">
                            <div class="control-btn stop">
                                <p class="control-txt">Stop</p>
                            </div>
                            <div class="control-btn record">
                                <img src="/static/icons/record.svg" class="record-icon" alt="">
                                <p class="control-txt">Record</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-div" id="md-4">
                <div class="main-div md4-div main-grid container">
                    <div class="airlock container">
                        <div class="ab"></div>
                        <p class="abt">Shields</p>
                    </div>
                </div>
                <div class="main-div md4-div2 main-grid container">
                    <div class="maindiv-head">
                        <div style="margin-left: 1em;">
                            <div class="fod" style="margin-top: -2em; padding:1.6em 1.7em; margin-left: -1em; margin-bottom: 1em;">
                                <p style="display: inline-block;vertical-align: middle;font-size: .9em; margin-block: 0; font-family: 'regular';">Days until end of food</p>
                                <p style="display: inline-block;vertical-align: middle; margin-left: 3em; font-size: 1.4em;margin-block: 0; font-family: 'display-bold';">120</p>
                            </div>
                            <div class="fodd">
                                <div class="container foddd">
                                    <p class="fs">13,345</p>
                                    <p class="fstat">Calories today</p>
                                </div>
                                <div class="container foddd">
                                    <p class="fs">13,345</p>
                                    <p class="fstat">Calories today</p>
                                </div>
                            </div>
                        </div>
                        <p class="maindiv-title rtn" style="font-size: 1.5em; margin-bottom: .35em;">Food</p>
                    </div>
                </div>
            </div>
            <div class="main-div container" id="md-5">
                <div class="workout switcher">
                    <p class="switcher-item active">Workout</p>
                    <p class="switcher-item">Health</p>
                </div>
                    <div style="display: grid;
                    grid-template-columns: auto auto;
                    margin-top: 6.5em;
                    margin-left: .95em;
                    column-gap: 1em;
                    ">

                        <div class="fod f" style="display: grid; grid-template-rows: auto auto;text-align: center; width: 10em;">
                            <p class="udd">98%</p>
                            <p class="ud">Health Score</p>
                        </div>
                        
                        
                        <div class="fod f" style="display: grid; grid-template-rows: auto auto;text-align: center; width: 10em;">
                            <p class="udd">12,324</p>
                            <p class="ud">Steps today</p>
                        </div>
                    </div>
                    <div class="selec">
                        <p style="font-size: .8em; font-family: 'regular'; letter-spacing: 0.04em;
                        margin-top: 1.4em;
                        margin-left: .7em;">Select workout type</p>
                        <div class="workout-selector">
                            <div class="workout-type">
                                <img src="/static/icons/run.svg" class="workout-icon" alt="">
                            </div>
                            <div class="workout-type">
                                <img src="/static/icons/cycle.svg" class="workout-icon" alt="">
                            </div>
                            <div class="workout-type">
                                <img src="/static/icons/weight.svg" class="workout-icon" alt="">
                            </div>
                        </div>
                    </div>
                    <div style="margin-left: 1.5em; margin-top: 1.6em;">
                        <p style="font-family: 'display-regular';
                        letter-spacing: 0.03em;">Intensity</p>
                        <div class="intensity-selector">
                            <img src="/static/icons/i1.svg" class="is-img" alt="">
                            <div class="is">
                                <div class="is-i"></div>
                                <div class="is-i"></div>
                                <div class="is-i active"></div>
                                <div class="is-i"></div>
                            </div>
                            <img src="/static/icons/i2.svg" class="is-img" alt="">
                        </div>
                        <div class="startworkout container">
                            <p class="startworkout-txt">Start workout</p>
                        </div>
                    </div>

            </div>
        </div>
        <div class="music container">
            <div class="music-nowplaying">
                <div class="music-1">
                    <img src="/static/music/thumb/whodatboy.png" class="music-img" alt="">
                    <div>
                        <p class="npt nowplaying-title">Who dat boy (feat A$AP Rocky)</p>   
                        <p class="npt nowplaying-artists">Tyler, The Creator, A$AP Rocky</p>
                    </div>
                </div>
                <div class="music-2">
                    <div class="music-controls">
                        <img src="/static/icons/back.svg" class="music-prev" alt="">
                        <img src="/static/icons/paused.svg" class="music-play" alt="">
                        <img src="/static/icons/forward.svg" class="music-next" alt="">
                    </div>
                    <div class="music-seek">
                        <div class="music-seek-bar">
                            <div class="music-seek-fill"></div>
                        </div>
                    </div>
                </div>
                <div class="music-3">
                    <img src="/static/icons/lyrics.svg" class="music-options" alt="">
                    <img src="/static/icons/queue.svg" class="music-options" alt="">
                    <img src="/static/icons/volm.svg" class="music-options" alt="">
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Flip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Observer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Draggable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/MotionPathPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/EaselPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/PixiPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/TextPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/EasePack.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/CustomEase.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>   
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

    
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
        gsap.registerPlugin(Flip,ScrollTrigger,Observer,ScrollToPlugin,Draggable,MotionPathPlugin,EaselPlugin,PixiPlugin,TextPlugin,RoughEase,ExpoScaleEase,SlowMo,CustomEase)
        })
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js" integrity="sha256-u0L8aA6Ev3bY2HI4y0CAyr9H8FRWgX4hZ9+K7C2nzdc=" crossorigin="anonymous"></script>
    <script src="/static/main.js"></script>
</body>
</html>